<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="mnDAL"
                          publicKeyToken="d61e5da9d8ca0e48" 
                          culture="neutral" 
                          processorArchitecture="MSIL" />
        <bindingRedirect oldVersion="0.6.3813.23102"
                         newVersion="0.6.3916.18913" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>